[Unit]
Description=wire bluetooth daemon
SourcePath=/usr/bin/wirebluetoothd
Requires=ankiinit.service
After=ankiinit.service

[Service]
ExecStart=/usr/bin/wirebluetoothd
Restart=on-failure

[Install]
WantedBy=multi-user.target
