[Unit]
SourcePath=/etc/initscripts/anki-audio-init
Description=Anki ALSA init
Wants=ankiinit.service

[Service]
Type=oneshot
IgnoreSIGPIPE=no
KillMode=process
RemainAfterExit=yes
ExecStart=/etc/initscripts/anki-audio-init
#Group=anki

[Install]
WantedBy=multi-user.target
