[Unit]
SourcePath=/etc/initscripts/boot-successful
Description=Marks boot as successful
After=wirebluetoothd.service
Requires=wirebluetoothd.service

[Service]
Type=oneshot
IgnoreSIGPIPE=no
KillMode=process
RemainAfterExit=no
ExecStart=/etc/initscripts/boot-successful
